.loader-screen {
  position: fixed;
  inset: 0;
  background: #0b0f14;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999; /* VERY HIGH */
}

.loader-content {
  text-align: center;
}

.loader-logo {
  color: #1cdb2c;
  font-size: 42px;
  letter-spacing: 4px;
  font-weight: 800;
  margin-bottom: 30px;
}

.loader-bar {
  width: 0px;
  height: 4px;
  background: #1cdb2c;
  animation: loadBar 2s ease forwards;
}

@keyframes loadBar {
  to {
    width: 220px;
  }
}
